@using Bccupass_CoreMVC.Models.ViewModel.Activity
@model ActivityCategoryCardViewModel
@{
    ViewData["Title"] = "ActivityCategory";
}
@section Topcss{
@*<link rel="stylesheet" href="~/css/Global.scss/">*@
<link rel="stylesheet" href="~/lib/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="~/css/CreateActivity/ActivityCategory.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
}

<div class="container align-content-center">
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class=" text-center fs-2 my-2">選擇活動主題(最多選擇2個)</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="row themeShow justify-content-start ">
                @foreach (var item in Model.Theme)
                {
                    <div class="col-4 col-lg-3 text-center py-2">
                        <input type="checkbox" class="btn-check themeInput" id="Theme-@item.Id" name="@item.Id">
                        <label class="btn btn-outline-primary w-100 themeLab" for="Theme-@item.Id">
                            <i class="bi d-block iconBig @item.Icon"></i>
                            <div class="m-0 ">@item.Title</div>
                        </label>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <h1 class=" text-center fs-2 my-2">選擇活動類型</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <div class="row categoryShow justify-content-start">

                @foreach (var item in Model.Type)
                {
                    <div class="col-4 col-lg-3 text-center py-2">
                        <input type="radio" class="btn-check categoryInput" id="@item.Id" name="typeRadio">
                        <label class="btn btn-lg btn-outline-primary w-100 p-2 categorylabel" for="@item.Id">@item.Title</label>
                    </div>
                }
            </div>
            <div class="row justify-content-center justify-content-lg-between text-center">
                <div class="col-6">
                    <button id="backPageBtn" type="button" class="btn btn-lg btn-primary my-3 float-lg-start">上一頁</button>
                </div>
                <div class="col-6">
                    <button id="sumBtn" type="submit" class="btn btn-lg btn-primary my-3 float-lg-end">下一步</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section endJS{
<script src="~/js/Category.js"></script>
}