@using Bccupass_CoreMVC.Models.ViewModel.CreateActivity
@model DemoActivityDraftViewModel
@{
    ViewData["Title"] = "DemoDraftJson";
}

<h1>DemoDraftJson</h1>

<div class="border p-2 col-8 m-2 overflow-auto">
    <h4>ActivityDraftId</h4>
    <p>@Model.ActivityDraftId</p>
</div>

<div class="border p-2 col-8 m-2 overflow-auto">
    <h4>ThemeCategory</h4>
    <p>@Model.ThemeCategory</p>
</div>

<div class="border p-2 col-8 m-2 overflow-auto">
    <h4>ActivityInfo</h4>
    <p>@Model.ActivityInfo</p>
</div>

<div class="border p-2 col-8 m-2 overflow-auto">
    <h4>ActivityContent</h4>
    <p>@Model.ActivityContent</p>
</div>

<div class="border p-2 col-8 m-2 overflow-auto">
    <h4>ActivityGuests</h4>
    <p>@Model.ActivityGuests</p>
</div>

<div class="border p-2 col-8 m-2 overflow-auto">
    <h4>ActivityQa</h4>
    <p>@Model.ActivityQa</p>
</div>

<div class="border p-2 col-8 m-2 overflow-auto">
    <h4>ActivityTicket</h4>
    <p>@Model.ActivityTicket</p>
</div>










