@using Bccupass_CoreMVC.Models.ViewModel.Organizer

@model OrganizerAboutViewModel


<div class="container">
    <div class="row py-4">
        <div class="col-12 d-none d-xl-block col-xl-3">
            <div class="organizer-side-card bg-white py-5 d-flex flex-column align-items-center">
                <img class="organizer-img mb-4" src="@Model.organizer.Image" alt="主辦頭貼" />
                <h2 class="fs-5 text-center">@Model.organizer.Name</h2>
                <div class="fans-block d-flex flex-column align-items-center">
                    <span class="fans-count fs-2">151</span>
                    <span class="mb-4">粉絲數</span>
                </div>
                <div class="cta-btns d-flex flex-column p-4 w-100">
                    <button class="track-organizer-btn mb-3 py-1">追蹤</button>
                    <a class="contact-organizer-btn text-center py-1" href=@Model.organizer.Email>聯絡主辦</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-9">
            <div class="banner-img" style="background-image:url(@Model.organizer.Banner);"></div>
            <div class="container bg-white">
                <div class="organizer-mobile-card d-xl-none py-4">
                    <div class="info row">
                        <div class="col-4">
                            <div class="organizer-img m-auto"></div>
                        </div>
                        <div class="col-8 d-flex flex-column justify-content-center">
                            <h2 class="fs-5">@Model.organizer.Name</h2>
                            <div class="cta-btns d-flex">
                                <button class="track-organizer-btn me-2 px-2">追蹤</button>
                                <a class="contact-organizer-btn px-2" href=@Model.organizer.Email>聯絡主辦</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="activity-tab my-3">
                    <ul class="nav nav-tabs container">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">關於</button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">活動</button>
                        </li>
                    </ul>
                    <div class="tab-content container py-4" id="myTabContent">
                        <div class="about-tab tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <p class="fs-5 fw-bold mb-3">簡介</p>
                            <p class="description-text">@Model.organizer.Description</p>
                            <p class="fs-5 fw-bold mb-3">媒體連結</p>
                            <ul class="media-link-list">
                                <li class="site-link media-link"><a href=@Model.organizer.OfficialWebsite>官方網站</a></li>
                                <li class="fb-link media-link"><a href=@Model.organizer.FacebookWebsite>Facebook</a></li>
                            </ul>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                            <div class="inprogress-wrap py-2">
                                <p class="fs-5 fw-bold mb-3">進行中</p>
                                <div class="row">
                                    @foreach(var item in Model.ActivityList){
                                        <div class="activity-card col-6">
                                            @await Html.PartialAsync("_activityCardPartial", item)
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="notstart-wrap py-2">
                                <p class="fs-5 fw-bold mb-3">尚未開始</p>
                                <div class="row"></div>
                            </div>
                            <div class="end-wrap py-2">
                                <p class="fs-5 fw-bold mb-3">已結束</p>
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section topCSS{
    <link href="~/css/Organizer/OrganizerIndex.css" rel="stylesheet" />
}

