@using Bccupass_CoreMVC.Models.ViewModel.ActivityCard
@model ActivityCardViewModel.ActivityData


<div class="activity-card col-sm-12 col-md-6 col-lg-4">
    <div class="card">
        <div class="row g-0">
            <div class="col col-4 col-md-12">
                <div class="activity-img">@Model.Image</div>
            </div>
            <div class="col col-8 col-md-12">
                <div class="card-body p-3">
                    <h5 class="card-title">@Model.Name</h5>
                    <p class="card-text"><small class="text-muted">@Model.StartTime ~ @Model.EndTime</small></p>
                    <div class="tags">
                        <span class="card-icon icon-location">@Model.City</span>
                            <span class="card-icon icon-price">@(Model.IsFree==true?"免費":"付費") </span>
                            <span class="card-icon icon-category">@Model.ActivityTheme</span>
                    </div>
                    <div class="data">
                        <span class="card-icon icon-like">@Model.Favorite</span>
                        <span class="card-icon icon-watch">20</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*此卡的css在home.css裡*@
@section Topcss {
    <link rel="stylesheet" href="~/css/home/home.css" />
}  