@using Bccupass_CoreMVC.Models.ViewModel.CreateActivity
@model CreateQAViewModel
<tr>
    <th scope="row"  class="lh-lg"><i class="fas fa-grip-vertical"></i></th>
    <td class="lh-lg"><input type="checkbox" name="c"class="checked" value="@Model.Sort" /></td>
    <td class="lh-lg" colspan="4" id="Quest@(Model.Sort)">@Model.ActivityQuest</td>
    <td class="accordion-header flex-nowrap" id="flush-headingOne">
        <button class="btn btn-outline-light rounded-circle border-0 text-primary collapsed" 
        type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@(Model.Sort)" aria-expanded="false" aria-controls="collapse-1">
            <i class="fas fa-info-circle"></i>
        </button>
        <button class="btn btn-outline-light rounded-circle border-0 text-primary collapsed" 
        type="button"  data-bs-toggle="modal" data-bs-target="#EditModal" onclick="getQAData('@Model.Sort')">
            <i class="fas fa-pen"></i>
        </button>
    </td>
                                    
</tr>  
<tr>
    <td class="p-0" colspan="7">
        <div class="collapse" id="collapse-@(Model.Sort)">
            <div class="card card-body border-0 list-color card-pad">
                <input type="hidden" id="sort@(Model.Sort)" value="@Model.Sort"/>
                <p>答:</p>

                <p id="Answer@(Model.Sort)">@Model.ActivityAnswer</p>
            </div>
            <div class="text-center border-0 text-primary collapsed bg-opacity-10 bg-secondary" 
            type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@(Model.Sort)" aria-expanded="false" aria-controls="collapse-1">
                收和資訊
            </div>
        </div>
    </td>
</tr>
