@using Bccupass_CoreMVC.Models.ViewModel.Ticket
@model TicketPurchaseViewModel.TicketData
@{
    var ticketId = $"panelsStayOpen-collapse{Model.TicketId}";

    DateTime now = DateTime.Now;
    var IsTimeToSell = (@Model.SellStartTime < now && @Model.SellEndTime >= now) ? true : false;
    var IsNotYetToSell = (@Model.SellStartTime > now) ? true : false;
    var IsEndToSell = (@Model.SellEndTime < now) ? true : false;
    var IsSoldOut = false;
}

<div class="accordion-item border border-1 my-2 p-2 @(IsTimeToSell ? "" : "ticket-close")">
    <div class="accordion-header" id="panelsStayOpen-headingOne">
        <div class="activity-buying d-flex my-1" data-least="@Model.BuyLeastCount" data-most="@Model.BuyMostCount">
            <div class="buyinfo col-10">
                <div class="fs-4">@Model.TicketName</div>
                <div class="fs-5 fw-bold d-inline">NT$ @Model.Price</div><span class="small text-primary ps-2 ticket-count d-none">0</span>
            </div>
            <div class="buy-btn col-2 d-flex">
                @if (IsSoldOut)
                {
                    <span>已售完</span>
                }
                else if(IsNotYetToSell)
                {
                    <span>尚未開放售票</span>
                }
                else if (IsEndToSell)
                {
                    <span>售票時間已結束</span>
                }
                else
                {
                    <button class="add-btn buy-button btn btn-primary border rounded-circle m-auto d-flex align-items-center justify-content-center fs-3">+</button>
                    <button class="reduce-btn buy-button btn btn-primary border rounded-circle m-auto d-flex align-items-center justify-content-center fs-3" disabled>-</button>
                }

            </div>

        </div>
        <button class="accordion-button fw-bold ps-0 collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#@ticketId" aria-expanded="false"
            aria-controls="@ticketId">
            更多資訊
        </button>
    </div>
    <div id="@ticketId" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body text-primary">
            <div class="fs-6 mb-2">
                <div class=" fw-bold">售票時間</div>
                @Model.SellStartTime ~ @Model.SellEndTime
            </div>
            <div class="fs-6 mb-2">
                <div class="fw-bold">票券可使用時間</div>
                @Model.CheckStartTime ~ @Model.CheckEndTime
            </div>
            <div class="fs-6 mb-2">
                <div class="fw-bold">票券說明</div>
                @Model.Description
            </div>
        </div>
    </div>
</div>

@*此卡的css在buyTicket.css裡*@
@section Topcss {
    <link rel="stylesheet" href="~/css/buyTicket/buyTicket.css" />
}  