@using Bccupass_CoreMVC.Models.ViewModel.Ticket
@model TicketPurchaseViewModel.TicketData
@{
    var ticketId = $"panelsStayOpen-collapse{Model.TicketId}";
}

<div class="accordion-item border border-1 my-2 p-2">
    <div class="accordion-header" id="panelsStayOpen-headingOne">
        <div class="activity-buying d-flex my-1 ">
            <div class="buyinfo col-10">
                @*<div class="fs-3 my-3">@Model.TicketName : @Model.Quantity 張</div>*@
                <div class="fs-4">@Model.TicketName</div>
                <div class="fs-5 fw-bold">NT$ @Model.Price<span class="small text-primary ps-2">X 1</span></div>
            </div>
            <div class="buy-btn col-2 d-flex  ">
                <button  class=" buy-button btn btn-primary border rounded-circle m-auto d-flex align-items-center justify-content-center fs-3  ">+</button>
                <button  class=" buy-button btn btn-primary border rounded-circle m-auto d-flex align-items-center justify-content-center fs-3  ">-</button>
            </div>

        </div>
        <button class="accordion-button fw-bold ps-0 collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#@ticketId" aria-expanded="false"
            aria-controls="@ticketId">
            更多資訊
        </button>
    </div>
    <div id="@ticketId" class="accordion-collapse collapse"
        aria-labelledby="panelsStayOpen-headingOne">
        <div class="accordion-body text-primary">
            <div class="fs-6 mb-2">
                <div class=" fw-bold">售票時間</div>
                @Model.SellStartTime ~ @Model.SellEndTime
            </div>
            <div class="fs-6 mb-2">
                <div class="fw-bold">票券可使用時間</div>
                @Model.CheckStartTime ~ @Model.CheckEndTime
            </div>
            <div class="fs-6 mb-2">
                <div class="fw-bold">票券說明</div>
                @Model.Description
            </div>
        </div>
    </div>
</div>

@*此卡的css在buyTicket.css裡*@
@section Topcss {
    <link rel="stylesheet" href="~/css/buyTicket/buyTicket.css" />
}  