@using Bccupass_CoreMVC.Common.Enum
@using Bccupass_CoreMVC.Models.ViewModel.Activity
@model ActivityIndexViewModel
@section Topcss {
    <link rel="stylesheet" href="~/css/Activity/Index.css" />
}

<div class="search-result bg-white p-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop">
    <div class="container">
        <p class="m-0 d-xl-none"><span>台北</span> / <span>藝文</span> / <span>免費</span></p>
        <ul class="m-0 p-0 d-none d-xl-block">
            <li class="d-flex">
                <span class="category">地區</span>
                <ul class="d-flex p-0 list-unstyled">
                    <li class="option mx-1">台北</li>
                    <li class="option mx-1">新北</li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="">
    <div class="search-window offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasTopLabel">搜尋條件</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            ...
        </div>
    </div>
    <div class="card-list-wrap">
        <div class="activity-tab my-3">
            <ul class="nav nav-tabs container">
                <li class="nav-item" role="presentation">
                    <a href="/Activity/InProgress/1" class="nav-link @(Model.ActivityStateByTime == (int)ActivityStateByTime.Inprogress ? "active" : "")" id="inProgress-tab" @*data-bs-toggle="tab" data-bs-target="#inProgress"*@ role="tab" aria-controls="inProgress" aria-selected="true">進行中</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="/Activity/NotStart/1" class="nav-link @(Model.ActivityStateByTime == (int)ActivityStateByTime.NotStart ? "active" : "")" id="notStart-tab" @*data-bs-toggle="tab" data-bs-target="#notStart"*@ role="tab" aria-controls="notStart" aria-selected="false">尚未開始</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a href="/Activity/End/1" class="nav-link @(Model.ActivityStateByTime == (int)ActivityStateByTime.End ? "active" : "")" id="end-tab" @*data-bs-toggle="tab" data-bs-target="#end"*@ role="tab" aria-controls="end" aria-selected="false">已結束</a>
                </li>
            </ul>
            <div class="sort d-flex my-3 container">
                <button class="sort-btn px-3 py-1 m-1 active" id="sort-by-time">依時間排序</button>
                <button class="sort-btn px-3 py-1 m-1" id="sort-by-price">依票價排序</button>
                <button class="sort-btn px-3 py-1 m-1" id="sort-by-like">依收藏數排序</button>
            </div>
            <div class="tab-content container" id="myTabContent">
                <div class="tab-pane fade @(Model.ActivityStateByTime == (int)ActivityStateByTime.Inprogress ? "show active" : "")" id="inProgress" role="tabpanel" aria-labelledby="inProgress-tab">
                    <div class="row">
                        @if(@Model.pageInfo.Total == 0)
                        {
                            @await Html.PartialAsync("_EmptyResultPartial")
                        }else{
                            @foreach(var item in Model.ActivityList){
                                <div class="activity-card col-sm-12 col-md-6 col-lg-4">
                                    @await Html.PartialAsync("_activityCardPartial", item)
                                </div>
                            }
                            @await Html.PartialAsync("_PaginationPartial", @Model.pageInfo)
                        }
                    </div>
                </div>
                <div class="tab-pane fade @(Model.ActivityStateByTime == (int)ActivityStateByTime.NotStart ? "show active" : "")" id="notStart" role="tabpanel" aria-labelledby="notStart-tab">
                    <div class="row">
                        @if(@Model.pageInfo.Total == 0)
                        {
                            @await Html.PartialAsync("_EmptyResultPartial")
                        }else{
                            @foreach(var item in Model.ActivityList){
                                <div class="activity-card col-sm-12 col-md-6 col-lg-4">
                                    @await Html.PartialAsync("_activityCardPartial", item)
                                </div>
                            }
                            @await Html.PartialAsync("_PaginationPartial", @Model.pageInfo)
                        }
                    </div>
                </div>
                <div class="tab-pane fade @(Model.ActivityStateByTime == (int)ActivityStateByTime.End ? "show active" : "")" id="end" role="tabpanel" aria-labelledby="end-tab">
                    <div class="row">
                        @if(@Model.pageInfo.Total == 0)
                        {
                            @await Html.PartialAsync("_EmptyResultPartial")
                        }else{
                            @foreach(var item in Model.ActivityList){
                                <div class="activity-card col-sm-12 col-md-6 col-lg-4">
                                    @await Html.PartialAsync("_activityCardPartial", item)
                                </div>
                            }
                            @await Html.PartialAsync("_PaginationPartial", @Model.pageInfo)
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
